<h1>Rain Graph for UK</h1>

<h2>Locations</h2>
<ul>
  <li><a href="/forecast/leeds">Leeds</a></li>
  <li><a href="/forecast/manchester">Manchester</a></li>
  <li><a href="/forecast/london">London</a></li>
  <li><a href="/forecast/custom?lat=53.38&lon=-1.46">Custom Place</a></li>
</ul>
It will only show graphs for UK and Ireland 
