<html>
  <head>
    <title>Rain Graph</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Generating graphs of rainfall for next few hours for uk locations" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <script src="/Chart.min.js"></script>
  </head>
  <body>
    <%= yield %>
  <div id="footer">
    Made by <a href="http://github.com/timwaters">Tim Waters</a> using <a href="http://www.metoffice.gov.uk/datapoint/">Metoffice Datapoint API</a>  
  </div>
  </body>
</html>
